#slider {
	padding: 20% 0;
	background: url('../img/programador.jpg');
	width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
	background-attachment: fixed;
}

#perfil_usuario {
	position: absolute;
	background: rgba(26,26,26,1);
	background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(128,128,128,1)));
	background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#808080', GradientType=0 );
	top: 72px;
	right: 0;
	padding: 5px 15px 5px 15px;
	color: white;
	display: none;
	font-size: 20px;
}

#perfil1, #inicio a {
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#lista_principal {
	display: flex;
	justify-content: space-between;
}

li#inicio,li#perfil1 {
	margin: 0;
	padding: 15px 25px;
	flex: 0 1 auto;
}

li#perfil1:hover,li#perfil1:hover i,li#inicio a:hover,li#inicio a:hover i {
	color: grey;
}

#perfil1 img {
	width: 40px;
	vertical-align: middle;
	padding-right: 10px;
}

.perfil li {
	padding: 5px;
	cursor: pointer;
	font-size: 20px;
}

.perfil li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#navegacion_secundaria {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

#navegacion_secundaria li {
	flex: 1;
	background-color: grey;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid white;
	cursor: pointer;
}

#navegacion_secundaria li:hover {
	opacity: 0.6;
}

#navegacion_secundaria li:last-child {
	border-bottom: none;
}


#navegacion_secundaria li a {
	color: white;
	text-decoration: none;
	font-size: 25px;
}

#usuario h3 {
	color: #7892c2;
	font-size: 35px;
	padding: 20px;
	text-align: center;
}

a.enlace { margin: 1em 0;}

a.enlace {
   text-decoration: none;
   margin: 10px;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Pathway Gothic One', Helvetica, sans-serif;
	font-size:20px;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
a.enlace:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
	color:#ffffff;
}
a.enlace:active {
	position:relative;
	top:1px;
}

.centrar {
	text-align: center;
	margin-top: 20px;
}

.fa-angle-down, .fa-angle-up {
	padding-left: 5px;
}

/* CURSOS
   ========================================================================= */

#curso {
	margin-top: 5%;
	padding-left: 2.5%;
	display: flex;
	justify-content: space-around;
	text-align:justify;
	flex-flow:row wrap;
}

#curso p i {
   	color: black;
   	font-size: 20px;
   	padding: 5px;
}

#curso p a:hover i {
   	color: grey;
}

#descripcion_curso h2{
	margin-bottom:10px;
}

ul#temas p.descripcion_tema {
	display: none;
}

ul#temas li {
	cursor: pointer;
	margin-top: 10px;
}

ul#temas li h2:hover {
	color: grey;
}
.imagen{
	flex:1;
	align-self: flex-start;
}
#descripcion_curso {
	padding:0 5% 0 5%;
	flex:3;
	min-width: 200px;
}

/*MEDIA QUERIES
========================================================================= */

@media only screen and (min-width: 450px) {
	#slider {
		padding: 10% 0;
	}

	#navegacion_secundaria li {
		border-bottom: none;
		border-right: 1px solid white;
	}

	#navegacion_secundaria li:last-child {
		border-bottom: none;
		border-right: none;
	}

	#navegacion_secundaria {
		flex-flow: row;
	}
}
