/*
Editado por Miguel Costa 14/02/2017 13:00

*/

/* Limpiamos algunos estilos */
h1,h2,h3,p,ul,body {margin:0;padding:0;}
ul {list-style: none;}

/* BASE
   ========================================================================= */
html {
	font-family: 'Pathway Gothic One', Helvetica, sans-serif;
	min-width: 330px;
}

body{
}

/* HEADER
   ========================================================================= */
header {
	display: block;
}

#slider {
	background: url('../img/programacion1.jpg');
	width: 100%;
  padding: 15% 0;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
	background-attachment: fixed;
}

nav>ul {
	display: flex;
	justify-content: space-around;
	background-color: #1A1A1A;
}

nav>#lista_principal {
	height: 80px;
}

nav>ul>li {
	padding: 20px 40px 20px 40px;
}

nav>ul>li#editor,nav>ul>li#registrarte,nav>ul>li#ini_sesion,nav>ul>li#perfil {
		display: none;
}

nav>ul>li#menu_moviles {
		display: inline;
}


nav>ul>li>ul#lista_movil {
	background-color: grey;
	right: 0;
	top: 80px;
	padding: 5px 10px 5px 10px;
	color: white;
	display: none;
	position: absolute;
	background: rgba(26,26,26,1);
	background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(128,128,128,1)));
	background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(128,128,128,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#808080', GradientType=0 );
}

nav>ul>li>ul#lista_movil a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

nav>ul>li>ul#lista_movil li {

	padding: 5px;
}

nav>ul>li>a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

nav>ul>li>a:hover,nav>ul>li>a:hover>.fa {
	color: grey;
}

#inicio {
	flex: 1 1 auto;
}

.fa {
	color:white;
	padding-right: 8px;
	font-size: 2rem;
}

#buscador {
	width: 50%;
	border-radius: 10px;
	color: white;
    background: rgba(0,0,0,.35);
    padding: 2% 5%;
    margin: auto;
    text-align: center;
    z-index: 1;
    font-size: 20px;
}

#buscador p {
	margin-bottom: 5px;
}

input[type="search"] {
	width: 20px; /*ancho por defecto*/
	background: #ededed url('../img/search-icon.png') no-repeat 11px center; /*icono lupa*/
	padding: 9px 10px 9px 32px;
	cursor: pointer;
	border-radius: 15em;
	-webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
	-moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
	-o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
	transition: all .5s; /* transición de .5seg a todos los elementos*/
	outline: none; /* ocultar el fucos automático de los input */
}
input[type="search"]:focus {
	cursor: text;
	width: 95%; /*tamaño del boton buscar al hacer click*/
	padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
	color: #000;
	background-color: #FFF;
}

/* CONVIÉRTE EN EDITOR
   ========================================================================= */

#convierteteEditor {
	display: none;
	padding: 1%;
}

#convierteteEditor form {
	text-align: center;
}

#convierteteEditor>i {
	color: black;
	cursor: pointer;
	float: left;
}

.formulario {
	  width: 60%;
	  padding: 5%;
	  margin: 20px auto;
	  -webkit-border-radius: 8px/7px;
	  -moz-border-radius: 8px/7px;
	  border-radius: 8px/7px;
	  background-color: #ebebeb;
	  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	  border: solid 1px #cbc9c9;
}

.botones {
  text-align: center;
}

.formulario h2 {
	padding-top: -5px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
}

/* CURSOS POPULARES
   ========================================================================= */

.cursosPopulares {
	margin: 40px auto;
}

.cursosPopulares>h2 {
	text-align: center;
	font-size: 40px;
}

ul.temas_flex {
	/*Limpiamos estilos de la lista*/
	padding: 0;
	background-color: #1A1A1A;
	margin: 10px 0 10px 0;
	list-style: none;

	display: flex; /*Lo hacemos flexible*/

	flex-flow: row wrap; /*ShortHand para que se coloquen en fila y que salten*/

	justify-content: space-around; /*Para que se colquen uno en cada extremo y los demás se
	repartan el espacio sobrante*/
	align-items: stretch; /*Estira los elementos para que todos tengan el mismo
	alto que será el del más alto*/
}

/*hijos directos del contenedor flexible ul.flex*/
ul.temas_flex>li {
	color: white;
	display: flex; /*Lo hacemos flexible*/
	margin: 20px;
	min-width: 300px;
	max-width: 440px; /*Para que no crezca más de 440px*/
	flex: 1 1 250px; /*Para que crezca y decrezca a partir de 250px de partida*/
	align-items: stretch; /*Para que se centren en el plano vertical*/
	flex-flow: row nowrap; /*ShortHand para que se coloquen en fila y que no salten*/
}

.imagen{
	flex: 2;
	align-self: center;
	min-width: 150px;
}

.imagen img {
	width: 99%;
}

.modulo {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	font-size: 18px;
}

.modulo h2 {
	text-align: center;
	font-size: 30px;
}

.modulo .descripcion, .modulo .descargar {
	margin: 0 auto;
	margin-bottom: 2px;
}

.centrado {
	text-align: center;
}

.boton {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #7892c2;
    border: 0;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.boton:hover { opacity: 0.6; color: #fff; }

.boton:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.boton:focus { outline: 0; opacity: 0.6; background: #7892c2; color: #fff; }

.boton:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #7892c2; color: #fff; }

/* ULTIMOS SUBIDOS
   ========================================================================= */

.ultimosSubidos {
	padding: 10px;
	margin: 80px auto;
	background-color: #f5f5f5;
}

.ultimosSubidos>h2 {
	text-align: center;
	font-size: 40px;
}

.ultimosSubidos ul.temas_flex {
	background-color: transparent;
}

.ultimosSubidos ul.temas_flex>li {
	background-color: white;
	-webkit-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
	color: black;
	padding: 5px;
}

/* FOOTER
   ========================================================================= */

footer {
	display: flex;
	justify-content: space-between;;
	align-items: center;
	flex-flow: row wrap;
	padding: 2% 2% 4% 2%;
	color: white;
	background-color: #1A1A1A;
	font-size: 15px;
}

.redes i {
	font-size: 25px;
}

footer a {
	text-decoration:none;
	color: white;
}

footer a:hover, footer a:hover>.fa {
	color: grey;
}

footer h3 {
	padding: 10px 0;
}

/*MEDIA QUERIES
========================================================================= */

@media only screen and (min-width: 808px) {
	nav>ul>li#editor,nav>ul>li#registrarte,nav>ul>li#ini_sesion,nav>ul>li#perfil{
		display: inline;
	}

	nav>ul>li#menu_moviles {
		display: none;
	}

	#buscador {
		width: 32%;
	}

	.formulario {
	  width: 60%;
	  padding: 2% 5%;
	  font-size: 20px;
	}

	.formulario h2 {
		font-size: 35px;
		margin-bottom: 15px;
	}

	label {
		width: 18%;
		text-align: center;
	}

	.icon {
		  padding: 1% 2%;
	}

	footer {
			font-size: 25px;
	}

	footer .redes i {
			font-size: 40px;
	}
}
